h1 {
  color: royalblue;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
}

.intro {
  text-align: center;
  color: cornflowerblue;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

hr {
  width: 50%;
}

footer {
  text-align: center;
  color: grey;
  font-size: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
